// Answer from user Francesco Meli @ https://stackoverflow.com/a/56131888
// Creates map and loops through it to create diff color schemes
$pallettes: (
  // Only blk & wht are verified
  gruvbox-material-light:
    (
      blk: #fbf1c7,
      rde: #ea6962,
      grn: #a9b665,
      yel: #d8a657,
      blu: #7daea3,
      mag: #d3869b,
      cya: #89b482,
      wht: #7c6f64,
    ),
  gruvbox-material-dark: (
    blk: #292828,
    rde: #ea6962,
    grn: #a9b665,
    yel: #d8a657,
    blu: #7daea3,
    mag: #d3869b,
    cya: #89b482,
    wht: #d4be98,
  ),
  solarized-light: (
    blk: #fdf6e3,
    rde: #dc322f,
    grn: #859900,
    yel: #b58900,
    blu: #268bd2,
    mag: #d33682,
    cya: #2aa198,
    wht: #657b83,
  ),
  solarized-dark: (
    blk: #839496,
    rde: #ea6962,
    grn: #a9b665,
    yel: #d8a657,
    blu: #7daea3,
    mag: #d3869b,
    cya: #89b482,
    wht: #002b36,
  )
);

@each $pallette, $content in $pallettes {
  #content.#{$pallette} {
    background-color: map-get($content, "blk");
    color: map-get($content, "wht");
    a {
      color: map-get($content, "wht");
      &:active {
        color: map-get($content, "rde");
      }
    }
  }
  #theme.#{$pallette} {
    background: map-get($content, "blk");
    color: map-get($content, "wht");
  }
  #theme-circle.#{$pallette} {
    & > span {
      :nth-child(1) {
        background-color: map-get($content, "rde");
      }
      :nth-child(2) {
        background-color: map-get($content, "grn");
      }
      :nth-child(3) {
        background-color: map-get($content, "yel");
      }
      :nth-child(4) {
        background-color: map-get($content, "blu");
      }
      :nth-child(5) {
        background-color: map-get($content, "mag");
      }
      :nth-child(6) {
        background-color: map-get($content, "cya");
      }
    }
  }
}
