// Answer from user Francesco Meli @ https://stackoverflow.com/a/56131888
// Creates map and loops through it to create diff color schemes
$pallettes: (
  // Only blk & wht are verified
  gruvbox-material-light:
    (
      blk: #fbf1c7,
      red: #ea6962,
      grn: #a9b665,
      yel: #d8a657,
      blu: #7daea3,
      mag: #d3869b,
      cya: #89b482,
      wht: #7c6f64,
    ),
  gruvbox-material-dark: (
    blk: #292828,
    red: #ea6962,
    grn: #a9b665,
    yel: #d8a657,
    blu: #7daea3,
    mag: #d3869b,
    cya: #89b482,
    wht: #d4be98,
  ),
  solarized-light: (
    blk: #fdf6e3,
    red: #dc322f,
    grn: #859900,
    yel: #b58900,
    blu: #268bd2,
    mag: #d33682,
    cya: #2aa198,
    wht: #657b83,
  ),
  solarized-dark: (
    blk: #839496,
    red: #ea6962,
    grn: #a9b665,
    yel: #d8a657,
    blu: #7daea3,
    mag: #d3869b,
    cya: #89b482,
    wht: #002b36,
  )
);
// Code from "https://sass-lang.com/documentation/style-rules/parent-selector#advanced-nesting
// Selects parent from child
@use "sass:selector";

@mixin unify-parent($child) {
  @at-root #{selector.unify(&, $child)} {
    @content;
  }
}

// Used media queries from https://getbootstrap.com/docs/3.4/css/
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

body {
  margin: 0;
  padding: 0;

  width: 100%;
  height: 100%;

  background-color: #292828;

  display: none;

  transition: 1s;
}

#content {
  color: black;
  background-color: white;

  font-family: Helvetica;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // Animations
  transition: 1s;

  // Styling
  padding: 1rem;
  // Centering
  margin: 0 auto;
}

@each $pallette, $content in $pallettes {
  #content.#{$pallette} {
    background-color: map-get($content, "blk");
    color: map-get($content, "wht");
    a {
      color: map-get($content, "blu");
      &:active {
        color: map-get($content, "red");
      }
    }
  }
}

@media (min-width: $screen-sm-min) {
  #content {
    max-width: none;
  }
}
@media (min-width: $screen-md-min) {
  #content {
    max-width: 50%;
  }
}
@media (min-width: $screen-lg-min) {
  #content {
    max-width: 30%;
  }
}
