// Used media queries from https://getbootstrap.com/docs/3.4/css/
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

body {
  margin: 0;
  padding: 0;

  width: 100%;
  height: 100%;

  background-color: #292828;
}

#content {
  background-color: #fbf1c7;
  color: #7c6f64;
  font-family: Helvetica;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


  padding: 1rem;
  margin: 0 auto;
}

@media (min-width: $screen-sm-min) {
  #content {
    max-width: none;
  }
}
@media (min-width: $screen-md-min) {
  #content {
    max-width: 50%;
  }
}
@media (min-width: $screen-lg-min) {
  #content {
    max-width: 30%;
  }
}